/modul1/JavaApplication24/nbproject/private/
/modul1/modul_1/nbproject/private/
/modul1/modul_1/build/
/modul1/modul_1/dist/
/modul1/tugas1/nbproject/private/
/modul1/tugas1/build/
/modul1/tugas1/dist/
