/modul1/JavaApplication24/nbproject/private/
/modul1/modul_1/nbproject/private/
/modul1/modul_1/build/
/modul1/modul_1/dist/
/modul1/tugas1/nbproject/private/
/modul1/tugas1/build/
/modul1/tugas1/dist/
/modul1/Modul1_khanif/nbproject/private/
/modul1/Modul1_khanif/build/
/modul1/Modul1_khanif/dist/
/modul2/praktikum/nbproject/private/
/modul2/praktikum/build/
/modul2/praktikum/dist/
/modul2/modul_2/nbproject/private/
/modul2/modul_2/build/
/modul2/modul_2/dist/
/modul2/tugas2/nbproject/private/
/modul2/tugas2/build/
/modul3/apotek/nbproject/private/
/modul3/apotek/build/
/modul3/apotek/dist/
/modul3/iniApotek/nbproject/private/
/modul3/iniApotek/build/
/modul3/iniApotek/dist/
